#area2 {
    width: 90%;
    height: 3em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}
#btn2 {
    background: -webkit-linear-gradient(top,#008dfd 30%,#0370ea 100%);
    color: white;
    text-shadow: 1px 1px 1px #076bd2;
    border-radius: 3px;
    border: 1px solid #076bd2;
    padding: 8px 25px;
    font-weight: 700;
    font-size: 15px;
}
#btn2.select {
    background: -webkit-linear-gradient(top,#f2739e 30%,#f23f7b 100%);
    text-shadow: 1px 1px 1px #f1115c;
    border: 1px solid #f1115c;
}
#select2 {
    width: 200px;
}